.git
**/node_modules
.next*
**/.env*
artifacts
test-artifacts
private-storage
apps/customer/android
apps/customer/ios
apps/customer/build
apps/customer/dist
apps/customer/.expo
**/*.jks
**/*.keystore
**/*.p12
**/*.pem
**/*.mobileprovision
**/credentials.json
**/*.log
**/*.tsbuildinfo
